{% extends 'base.html' %}
{% block body %}
<div style="text-align:center; margin-top:50px;">
<div style="font-size:40px;margin-bottom:50px;">좋아하는 영화 10 개를 고르세요.</div>
<div style="margin-right:150px;margin-left:150px;">
<form action="{% url 'accounts:checked' %}" method="POST">
    {% csrf_token %}
    {% for movie in movies %}
            {% comment %} <div class="card-body" id="movie{{movie.}}" ></div> {% endcomment %}
            <ul class="title">
                <input type="checkbox" name="checked_data" value="{{ movie.genre_id }}, {{movie.id}}">
                <img src="{{movie.poster_url}}" class="d-block poster" alt="{{ movie.movieName }}-poster">
            </ul>

            {% comment %} <div class="card-body" id="" onclick="">
                <img src="{% movie%}" alt=""> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        
    {% endfor %}
</div>    
    <div><button class="btn btn-secondary" style="width:100%; height:300px; font-size:100px;">Start</button></div>
    </div>

</div>
</form>

<footer class="skicky-bottom">
		<div class="footer-name">
		@2019, Hyun Hee Son and Da Yeon Ha
		</div>
		<div class="right">
			{% comment %} <a href="{% url 'movies:movie_list'%}">NEXT <i class="far fa-hand-point-right fa-3x"></i></a> {% endcomment %}
               <a style="display:scroll;position:fixed;bottom:0px; right:30px;" rel="nofollow"

             href="#scrollbottom" style="font-size:30px;">Go to down<i class="far fa-hand-point-down fa-3x"></i></a>

                <div id="scrollbottom"></div>
		</div>
</footer>

{% comment %} <script>
    const  check_list = new Array();
    for ( var i = 0; i <= 29; i++ ) {
        check_list[i] = 0;
    }
    const send = function (movie_genres) {
        for(movie_genre of movie_genres) {
            console.log(movie_genre);
        }
    }

    const posters = document.querySelectorAll('.poster');
    posters.forEach(poster => poster.addEventListener('click', function () {
        genre_id = this.dataset.id;
        genre_id = Number(genre_id);
        // this.check_list.forEach(function (1, ))
        console.log(genre_id, typeof(genre_id), check_list);
    }))
</script> {% endcomment %}
<style>
    img {
        max-width: 100%;
        height: auto !important;
    }

    footer {
    position:sticky;
    bottom:0;
    height: 50px;
    width: 100%;
    padding: 0 3rem;
    color: white;
    background-color: black;
    }


    footer>div {
    display: inline-block;
    }

    footer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }

    .footer-name{
    padding: 10px
    }

    .title {
        width: 230px;
        display: inline-block;
    }

    .right{
    float: right;
    }
</style>
{% endblock %}