{% extends 'base.html' %}
{% block body %}
<h1>좋아하는 영화 5 개를 고르세요.</h1>
<form action="{% url 'accounts:checked' %}" method="POST" class="card-columns">
    {% csrf_token %}
    {% for movie in movies %}
        <div class="card my-3">
            {% comment %} <div class="card-body" id="movie{{movie.}}" ></div> {% endcomment %}
            <ul>
                {% for movie_genre in movie.movie_genre.all %}
                    <input type="checkbox" name="checked_data" value="{{ movie_genre.genre_id }}">
                    <img src="{{movie.poster_url}}" class="d-block w-100 poster" alt="{{ movie.movieName }}-poster" data-id="{{ movie_genre.genre_id }}">
                {% endfor %}
            </ul>

            {% comment %} <div class="card-body" id="" onclick="">
                <img src="{% movie%}" alt=""> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        
        </div>
    {% endfor %}
    <input type="submit">
</form>
{% comment %} <script>
    const  check_list = new Array();
    for ( var i = 0; i <= 29; i++ ) {
        check_list[i] = 0;
    }
    const send = function (movie_genres) {
        for(movie_genre of movie_genres) {
            console.log(movie_genre);
        }
    }

    const posters = document.querySelectorAll('.poster');
    posters.forEach(poster => poster.addEventListener('click', function () {
        genre_id = this.dataset.id;
        genre_id = Number(genre_id);
        // this.check_list.forEach(function (1, ))
        console.log(genre_id, typeof(genre_id), check_list);
    }))
</script> {% endcomment %}
{% endblock %}