{% extends 'base.html' %}
{% block body %}
<div class="container">
<div class='row my-5 mx-auto'>
    <div class="col-4 d-flex justify-content-center">
        {% if user_info.image.file.url %}
        <img src="{{ user_info.image.file.url }}" alt="{{user_info.nickname}}-image" class="rounded-circle" width="100px" height="100px">
        {% else %}
        <!-- 이미지 없으면 기본이미지 사용 -->
        <img src="https://picsum.photos/100/100" alt="random-image" class="rounded-circle">
        {% endif %}
        
        {% if user == user_info %}
            <a href="{% url 'accounts:edit_user_image' user_info.id %}" class="btn btn-light mx-3">사진 편집</a>
        {% endif %}
    </div>

    <div class="col-5">
        <div class="row">
            <h2>{{user_info.nickname}}</h2>
            <p>({{user_info.username}})</p>
            <!-- 팔로우 버튼, 게시물수, 팔로우 수, 자기소개 등이 들어올 공간 -->
            {% if user == user_info %}
                <a href="{% url 'accounts:edit_user_page' user_info.id %}" class="btn btn-light mx-3">프로필 편집</a>
            {% endif %}
        </div>
        {% comment %} <div class="row d-flex justify-content-between">
            <h4>게시물</h4>
        </div> {% endcomment %}

        <div class="row">
            <!-- <p>이 유저는 다음과 같은 장르를 좋아합니다.</p> -->
            {% for like_genre in user_info.like_genres.all %}
            <a class="btn btn-secondary" href="#" role="button">{{like_genre.name}}</a>
            {% endfor %}
             <!-- {{user_info.like_genres.all}}와 {} 장르 영화를 좋아합니다.</p>             -->
        </div>        
    </div>
</div>

<div class='row my-5 mx-auto'>
    <div class='m-2'>
        <h4>자기소개</h4>
        <p>{{ user_info.introduction }}</p>
    <div>

    <div>
        <h4>좋아요 누른 영화</h4>
        <p>여기에 캐러셀 들어갈 것임</p>

        
        {% for like_movie in user_info.like_movies.all %}
        <p class="card-text"><strong>{{like_movie.movieName}}</strong></p>
        {% empty %}
        <p class="card-text">없습니다.</p>
        {% endfor %}
    </div>

    <div>
        <h4>{{user_info.nickname}}님이 남긴 영화리뷰</h4>
        <p>여기에서는 영화이름이랑 코멘트 내용이 들어가고 그 영화 디테일 페이지로 이동 a태그</p>
    </div>
   

</div>

<div>
    <h4>담벼락</h4>
    {{user_info.page_master}}
</div>

</div>
{% endblock %}