{% extends 'base.html' %}
{% block body %}
{% load bootstrap4 %}
<div class="container">
<div class='row my-5 mx-auto'>
<div class="col-4 d-flex justify-content-center">
        {% if user_info.image.file.url %}
        <img src="{{ user_info.image.file.url }}" alt="{{user_info.nickname}}-image" class="rounded-circle" width="100px" height="100px">
        {% else %}
        <!-- 이미지 없으면 기본이미지 사용 -->
        <img src="https://picsum.photos/100/100" alt="random-image" class="rounded-circle">
        {% endif %}
        
        {% if user == user_info %}
            <a href="{% url 'accounts:edit_user_image' user_info.id %}" class="btn btn-light mx-3">사진 편집</a>
        {% endif %}
    </div>

    <div class="col-5">
        <div class="row">
            <h2>{{user_info.nickname}}</h2>
            <p>({{user_info.username}})</p>
            <!-- 팔로우 버튼, 게시물수, 팔로우 수, 자기소개 등이 들어올 공간 -->
            {% if user == user_info %}
                <a href="{% url 'accounts:edit_user_page' user_info.id %}" class="btn btn-light mx-3">프로필 편집</a>
            {% endif %}
        </div>
        {% comment %} <div class="row d-flex justify-content-between">
            <h4>게시물</h4>
        </div> {% endcomment %}

        <div class="row">
            <!-- <p>이 유저는 다음과 같은 장르를 좋아합니다.</p> -->
            {% for like_genre in user_info.like_genres.all %}
            <a class="btn btn-secondary" href="#" role="button">{{like_genre.name}}</a>
            {% endfor %}
             <!-- {{user_info.like_genres.all}}와 {} 장르 영화를 좋아합니다.</p>             -->
        </div>        
    </div>
</div>

<div class='row my-5 mx-auto'>
    <div class='m-2'>
        <h4>자기소개</h4>
        <p>{{ user_info.introduction }}</p>
    <div>

    <div>
        <h4>좋아요 누른 영화</h4>
        <p>여기에 캐러셀 들어갈 것임</p>
        {% comment %}  {% endcomment %}
<div class="container">
	<div class="row">
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
            {% for like_movie in user_info.like_movies.all %}
                <div class="item">
                    <div class="pad15">
                        <p class="title"><a href="{% url 'movies:movie_detail' like_movie.id%}"><img src="{{like_movie.poster_url}}" alt="{{like_movie.movieName}}-poster"></a></p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
        </div>
	</div>
    <div>
        <h4>{{user_info.nickname}}님이 남긴 영화리뷰</h4>
        <p>여기에서는 영화이름이랑 코멘트 내용이 들어가고 그 영화 디테일 페이지로 이동 a태그</p>
    </div>
   

</div>

<div>
    <h4>담벼락</h4>
    <div class="box">
        
        {% comment %} <div>
            <img src="{{ review.user4[[]] }}" alt="">
        </div> {% endcomment %}
            <div class="mt-5 ml-5 mb-3 mr-5">
        {% for damgle in damgles %}
            {% if user == damgle.user %}
            <p class="card-text mt-2 mr-2" style="text-align:right;"> {{ damgle.content}}</p>
            {% else %}
            <p class="card-text mt-2 ml-2" style="text-align:left;">{{damgle.user}} : {{ damgle.content}}</p>
            {% endif %}
        {% empty %}
        <p class="card-text" style="text-align:center;">담글이 없습니다.</p>
        {% endfor %}
        </div>
        <div class="card-body">
            <div class="card-footer">
                <form action="{% url 'accounts:create_damgle' user_info.id %}" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form damgle_form %}
                        {% buttons %}
                    <input type="submit" value="게시" class="btn btn-primary">
                        {% endbuttons %}
                </form>
            </div>
        </div>
</div>

</div>
<style>
img {
        max-width: 100%;
        height: auto !important;
    }
.title {
    width: 200px;
    display: inline-block;
}
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }



</style>
<script>
$(document).ready(function () {
    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').click(function () {
        var condition = $(this).hasClass("leftLst");
        if (condition)
            click(0, this);
        else
            click(1, this)
    });

    ResCarouselSize();




    $(window).resize(function () {
        ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
        var incno = 0;
        var dataItems = ("data-items");
        var itemClass = ('.item');
        var id = 0;
        var btnParentSb = '';
        var itemsSplit = '';
        var sampwidth = $(itemsMainDiv).width();
        var bodyWidth = $('body').width();
        $(itemsDiv).each(function () {
            id = id + 1;
            var itemNumbers = $(this).find(itemClass).length;
            btnParentSb = $(this).parent().attr(dataItems);
            itemsSplit = btnParentSb.split(',');
            $(this).parent().attr("id", "MultiCarousel" + id);


            if (bodyWidth >= 1200) {
                incno = itemsSplit[3];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 992) {
                incno = itemsSplit[2];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 768) {
                incno = itemsSplit[1];
                itemWidth = sampwidth / incno;
            }
            else {
                incno = itemsSplit[0];
                itemWidth = sampwidth / incno;
            }
            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
            $(this).find(itemClass).each(function () {
                $(this).outerWidth(itemWidth);
            });

            $(".leftLst").addClass("over");
            $(".rightLst").removeClass("over");

        });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
        var leftBtn = ('.leftLst');
        var rightBtn = ('.rightLst');
        var translateXval = '';
        var divStyle = $(el + ' ' + itemsDiv).css('transform');
        var values = divStyle.match(/-?[\d\.]+/g);
        var xds = Math.abs(values[4]);
        if (e == 0) {
            translateXval = parseInt(xds) - parseInt(itemWidth * s);
            $(el + ' ' + rightBtn).removeClass("over");

            if (translateXval <= itemWidth / 2) {
                translateXval = 0;
                $(el + ' ' + leftBtn).addClass("over");
            }
        }
        else if (e == 1) {
            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
            translateXval = parseInt(xds) + parseInt(itemWidth * s);
            $(el + ' ' + leftBtn).removeClass("over");

            if (translateXval >= itemsCondition - itemWidth / 2) {
                translateXval = itemsCondition;
                $(el + ' ' + rightBtn).addClass("over");
            }
        }
        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
        var Parent = "#" + $(ee).parent().attr("id");
        var slide = $(Parent).attr("data-slide");
        ResCarousel(ell, Parent, slide);
    }

});
</script>
{% endblock %}