{% extends 'base.html' %}
{% block body %}
{% load bootstrap4 %}
<div class="container mt-5">

    <div class="row">
        <div class="col-6">
            <div class="title">
                <img src="{{movie.poster_url}}" class="h-70 poster" alt="{{ movie.movieName }}-poster">
            </div>
        </div>
        <div class="col-6">
            <div class="list-gruop mt-5">
                <div class="moviename">{{movie.movieName}} ({{movie.movieNameE}})</div>
                <form action="{% url 'movies:like' movie.id %}" method="POST" style="display:inline-block">
                    {% csrf_token %}
                    <button style="border:0; background:none;">

                        <i 
                        class="{% if is_like %}fas{% else %}far{% endif %}
                            fa-heart fa-4x js-like-button"
                        data-id="{{ movie.id }}"
                        style="color:crimson;">
                        
                        </i>
                    </button>
                </form>
                <li class="list-item" style="margin-top:0px;">평점 : <div class="userrating">{{movie.userRating}}</div>
                </li>
                <li class="list-item">장르 : {{genre.name}}</li>
                <li class="list-item">감독 : {{movie.director}}</li>
                <li class="list-item">개봉일 : {{movie.pubDate}}</li>
                <li class="list-item">줄거리</li>
                <div class="description">{{movie.description}}</div>
            </div>
        </div>
    </div>
    {% comment %} 리뷰 {% endcomment %}
    <div class="mt-5 mb-5" style="font-size: 50px;text-align: center;">Reviews</div>
    <div class="box">
        
        {% comment %} <div>
            <img src="{{ review.user4[[]] }}" alt="">
        </div> {% endcomment %}
            <div class="mt-5 ml-5 mb-3">
        {% for review in movie.review_set.all %}
            <div class="row">
            <div class="col-10">
            <p class="card-text mt-2 ml-2" style="text-align:left;font-size:20px;"><a href="{% url 'accounts:user_page' review.user.id %}">{{review.user}}</a> : (평점 : {{ review.score }}) {{review.content}}</p>
            </div>
            {% if  user == review.user %}
            <div class="col-1">
            <form href="#"><i class="far fa-edit fa-2x"></i></form>
            </div>
            <div class="col-0.5">
            <a href="{% url 'movies:delete_review' movie.id review.id %}"><i class="fas fa-eraser fa-2x"></i></a>
            </div>
            {% endif %}
            </div>
        {% empty %}
        <p class="card-text" style="text-align:center;">댓글이 없습니다.</p>
        {% endfor %}
        </div>
        <div class="card-body">
            <div class="card-footer">
                {% load bootstrap4 %}
                <form action="{% url 'movies:create_review' movie.id %}"method="POST">
                    {% csrf_token %}
                    {% bootstrap_form review_form %}
                        {% buttons %}
                    <input type="submit" value="게시" class="btn btn-primary">
                        {% endbuttons %}
                </form>
            </div>
        </div>

        <style>
            img {
                max-width: 100%;
                height: auto !important;

            }

            .moviename {
                font-size: 50px;
                display: inline-block;
            }

            .userrating {
                color: white;
                background: blue;
                display: inline-block;
            }

            .description {
                word-break: break-all;
                line-height: 25px;
            }

            .title {
                width: 500px;
                display: inline-block;
            }

            .box {
                margin-top: 10px;
                border: 0.5px solid #DCDCDC;
                border-radius: 25px;
            }
        </style>

        <script>
        const likeButtons = document.querySelectorAll('.js-like-button');

        likeButtons.forEach((likeButton) => {
            likeButton.addEventListener('click', function (event) {
                const URL = `/movies/${event.target.dataset.id}/like/`;
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                axios.post(URL)
                    .then((res) => {
                        if (res.data.liked) { // 지금 좋아요가 끝난거면
                            event.target.classList.remove('far');
                            event.target.classList.add('fas');
                        }
                        else { // 지금 좋아요를 해제했다면
                            event.target.classList.remove('fas');
                            event.target.classList.add('far');
                        }
                    })
            });
        });

        
        
        </script>
        {% endblock body %}