{% extends 'base.html' %}
{% block body %}
{% load bootstrap4 %}
<div class="container mt-5">

    <div class="row">
        <div class="col-6">
            <div class="title">
                <img src="{{movie.poster_url}}" class="h-70 poster" alt="{{ movie.movieName }}-poster">
            </div>
        </div>
        <div class="col-6">
            <div class="list-gruop mt-5">
                <div class="moviename">{{movie.movieName}} ({{movie.movieNameE}})</div>
                <form action="{% url 'movies:like' movie.id %}" method="POST" style="display:inline-block">
                    {% csrf_token %}
                    <button style="border:0; background:none;">
                        {% if is_like %}
                        <i class="fas fa-heart fa-4x" style="color: #ed4956;"></i>
                        {% else %}
                        <i class="far fa-heart fa-4x" style="color: #ed4956; border:10;">
                            <span class="badge badge-light"></span>
                        </i>
                        {% endif %}
                    </button>
                </form>
                <li class="list-item" style="margin-top:0px;">평점 : <div class="userrating">{{movie.userRating}}</div>
                </li>
                <li class="list-item">장르 : {{genre.name}}</li>
                <li class="list-item">감독 : {{movie.director}}</li>
                <li class="list-item">개봉일 : {{movie.pubDate}}</li>
                <li class="list-item">줄거리</li>
                <div class="description">{{movie.description}}</div>
            </div>
        </div>
    </div>
    {% comment %} 리뷰 {% endcomment %}
    <div class="mt-5 mb-5" style="font-size: 50px;text-align: center;">Reviews</div>
    <div class="box">
        
        {% comment %} <div>
            <img src="{{ review.user4[[]] }}" alt="">
        </div> {% endcomment %}
            <div class="mt-5 ml-5 mb-3">
        {% for review in movie.review_set.all %}
            <p class="card-text mt-2 ml-2" style="text-align:left;">{{review.user}} : (평점 : {{ review.score }}) {{review.content}}</p>
        {% empty %}
        <p class="card-text" style="text-align:center;">댓글이 없습니다.</p>
        {% endfor %}
        </div>
        <div class="card-body">
            <div class="card-footer">
                <form action="{% url 'movies:create_review' movie.id %}" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form review_form %}
                        {% buttons %}
                    <input type="submit" value="게시" class="btn btn-primary">
                        {% endbuttons %}
                </form>
            </div>
        </div>

        <style>
            img {
                max-width: 100%;
                height: auto !important;
            }

            .moviename {
                font-size: 50px;
                display: inline-block;
            }

            .userrating {
                color: white;
                background: blue;
                display: inline-block;
            }

            .description {
                word-break: break-all;
                line-height: 25px;
            }

            .title {
                width: 500px;
                display: inline-block;
            }

            .box {
                margin-top: 10px;
                border: 0.5px solid #DCDCDC;
                border-radius: 25px;
            }
        </style>
        {% endblock body %}