{% extends 'base.html' %}
{% block body %}
    <h1>{{ movie.movieName }}</h1>
    {% comment %} <form action="{% url 'movies:like' movie.id %}" method="POST">
        {% csrf_token %}
        <button>
            {% if is_like %}좋아요취소{% else %}좋아요{% endif %}
        </button>
    </form> {% endcomment %}
    {% comment %} <p>{{ movie.like_users.count }}명이 좋아합니다</p> {% endcomment %}
    {% comment %} <p><b> 관객수 : </b> {{ movie.audience }} 명</p> {% endcomment %}
    <p><b> 장르 : </b> {{ genre.name }}</p>
    <img src="{{ movie.poster_url }}" alt="poster" height="200">
    <h3>줄거리</h3>
    <p>{{ movie.description }}</p>
    <hr>
    {% comment %} {% include 'movies/_review.html' %} {% endcomment %}
    <form action="{% url 'movies:like' movie.id %}" method="POST">
        {% csrf_token %}
        <button style="border:0; background:none;">
                {% if is_like %}
                    <i class="fas fa-heart fa-lg" style="color: #ed4956;"></i>			
                {% else %}
                    <i class="far fa-heart fa-lg" style="color: #ed4956; border:10;">
                        <span class="badge badge-light"></span>
                    </i>	
                {% endif %}
        </button>
    </form>

{% endblock body %}